{{ if (ne .osId "windows") -}}
#!/bin/sh

# Exit on error
set -e

# Some linux distros run in root by default (think Alpine Docker image)
# Check if sudo exists
run_sudo_cmd() {
  if command -v sudo >/dev/null 2>&1; then
    sudo "$@"
  else
    "$@"
  fi
}

echo "Ensuring Zsh binary is installed for: {{ .osId }}"

# Install Zsh Binary only
if ! command -v zsh >/dev/null 2>&1; then
    {{ if eq .osId "darwin" -}}
    brew install zsh
    {{ else if eq .osId "linux-ubuntu" "linux-debian" -}}
    run_sudo_cmd apt-get update && sudo apt-get install -y zsh git
    {{ else if eq .osId "linux-alpine" -}}
    run_sudo_cmd apk add zsh git
    {{ end }}
fi

# Set Zsh as default shell
if [ "$SHELL" != "$(which zsh)" ]; then
    echo "Changing default shell to zsh..."
    run_sudo_cmd chsh -s "$(which zsh)" "$USER"
fi

{{ end -}}